/node_modules
/.project
/angular-browserify-seed/node_modules
/angularjs-webpack-es6-startup/node_modules
/angularjs-webpack-es6-startup/dist
/angularjs-webpack-es6-startup/public/node_modules
/react-backbone/node_modules
/react-flux-seed/node_modules
