<!DOCTYPE html>
<html data-framework="angularjs">
  <head>
  	<base href="/">
    <title>express angularjs seed</title>
    <link rel='stylesheet' href='/vendor/semantic/semantic.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div ng-view></div>
	<script data-main="/javascripts/main" src="/vendor/require/require.2.1.11.js"></script>
  </body>
</html>